@model List<BIMApplicationForProjects.Models.C02_AppLists>


<div class="container-fluid">
    <h4><b>@ViewBag.PackageName</b></h4>
    <table class="table table-condensed table-bordered table-hover">
        <tr>
            @*<th class="text-center bg-primary">
                    Giai đoạn dự án | Project Phase
                </th>*@
            <th class="text-center bg-primary col-lg-2">Tên ứng dụng</th>
            <th class="text-center bg-primary col-lg-6">Nội dung ứng dụng</th>
            <th class="text-center bg-primary col-lg-4">Image</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>@Html.ActionLink(item.Name, "Details", "AppLists", new { id = item.ID }, new { @class = "text-primary" })</b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (string.IsNullOrEmpty(item.MainImage))
                    {
                        <a href="@Url.Action("Details","AppLists",new {id = item.ID })">
                            <img src="~/Assets/AppImages/NoImage.png" alt="Alternate Text" class="img" />
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Details","AppLists",new {id = item.ID })">
                            <img src="~/Assets/AppImages/@item.MainImage" alt="Alternate Text" class="imgSize" />
                        </a>
                    }

                </td>
            </tr>
        }
    </table>
</div>
<style>
    .imgSize{
        width:300px; height:200px;
    }
</style>
