@model List<BIMApplicationForProjects.Models.C02_AppLists>


<div class="form-group col-lg-10">
    <h4><b>@ViewBag.PackageName</b></h4>
    <table class="table table-condensed table-bordered table-hover">
        <tr>
            @*<th class="text-center bg-primary">
                    Giai đoạn dự án | Project Phase
                </th>*@
            <th class="text-center bg-primary">Tên ứng dụng</th>
            <th class="text-center bg-primary">Nội dung ứng dụng</th>
            <th class="text-center bg-primary">Image</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.C04_ProjectPhase.PhaseName)
                    </td>*@
                <td>
                    @*<b>@Html.DisplayFor(modelItem => item.Name)</b>*@
                    <b>@Html.ActionLink(item.Name, "Details", "AppLists", new { id = item.ID }, new { @class = "text-primary" })</b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (string.IsNullOrEmpty(item.MainImage))
                    {
                        <img src="~/Assets/AppImages/NoImage.png" alt="Alternate Text" class="img" />
                    }
                    else
                    {
                        <img src="~/Assets/AppImages/@item.MainImage" alt="Alternate Text" class="img" />
                    }

                </td>
            </tr>
        }
    </table>
</div>
