@model IEnumerable<BIMApplicationForProjects.Models.C02_AppLists>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PA = ViewBag.PA;
    int PB = ViewBag.PB;
    int PSD = ViewBag.PSD;
    int PST = ViewBag.PST;
    int PSC = ViewBag.PSC;
    int DA = ViewBag.DA;
    int DS = ViewBag.DS;
    int DM = ViewBag.DM;
    int DC = ViewBag.DC;
    int DF = ViewBag.DF;
}

<h2>Danh mục Ứng dụng BIM cho Dự án <small class="text-primary">BIM Menulist for Project</small></h2>

<div class="form-group col-lg-12">
    <p>Các ứng dụng BIM được phân loại theo 3 nhóm: <b class="text-danger">theo Gói, theo Giai đoạn dự án và theo từng Bộ môn</b></p>
    <p>Chọn các mục trong nhóm đã được phân loại bên dưới để xem thông tin:</p>
    @*<label>Project state</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Design</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Tender</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Construction</label>
    <label class="checkbox-inline"><input type="checkbox" value="">As-built</label>*@
</div>
<div class="form-group form-inline col-lg-12 container">
    @* Left panel *@
    <div class="form-group col-lg-2 navbar-left bg-primary">
        <h4>Chọn theo loại</h4>
        <i style="color:yellow">Choose by type</i>
        <hr />
        <h4>by Package</h4>
        <ul class="list-group">
            <li class="list-group-item text-primary">@Html.ActionLink("Basic", "UserIndex", "AppLists",new {id = "PB" }, new { @class = "text-primary" }) <span class="badge">@PB</span></li>
            <li class="list-group-item text-primary">@Html.ActionLink("Advance", "UserIndex", "AppLists", new { id = "PA" }, new { @class = "text-primary" }) <span class="badge">@PA</span></li>
        </ul>
        <hr />
        <h4>by Project state</h4>
        <ul class="list-group">
            <li class="list-group-item text-primary">@Html.ActionLink("Design", "UserIndex", "AppLists", new { id = "PSD" }, new { @class = "text-primary" })<span class="badge">@PSD</span></li>
            <li class="list-group-item text-primary">@Html.ActionLink("Tender", "UserIndex", "AppLists", new { id = "PST" }, new { @class = "text-primary" })<span class="badge">@PST</span></li>
            <li class="list-group-item text-primary">@Html.ActionLink("Construction", "UserIndex", "AppLists", new { id = "PSC" }, new { @class = "text-primary" })<span class="badge">13</span></li>
        </ul>
        <hr />
        <h4>by Desciplines</h4>
        <ul class="list-group">
            <li class="list-group-item text-primary">@Html.ActionLink("Architech", "UserIndex", "AppLists", new { id = "DA" }, new { @class = "text-primary" })<span class="badge">@DA</span></li>
            <li class="list-group-item text-primary">@Html.ActionLink("Structure", "UserIndex", "AppLists", new { id = "DS" }, new { @class = "text-primary" })<span class="badge">@DS</span></li>
            <li class="list-group-item text-primary">@Html.ActionLink("MEP", "UserIndex", "AppLists", new { id = "DM" }, new { @class = "text-primary" })<span class="badge">@DM</span></li>
            <li class="list-group-item text-primary">@Html.ActionLink("Civil", "UserIndex", "AppLists", new { id = "DC" }, new { @class = "text-primary" })<span class="badge">@DC</span></li>
            <li class="list-group-item text-primary">@Html.ActionLink("Facade", "UserIndex", "AppLists", new { id = "DF" }, new { @class = "text-primary" })<span class="badge">@DF</span></li>
        </ul>

    </div>
    @* Table content *@
    @Html.Action("_ListApp","AppLists");
</div>


<style>
    .img {
        width: 150px;
        height: 150px
    }
</style>