@model IEnumerable<BIMApplicationForProjects.Models.C03_ProjectAppDetails>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-condensed table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAccept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BIMerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeadLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C01_Projects.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C02_AppLists.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C06_Status.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C07_Result.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C08_RequestType.TypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td> @Html.DisplayFor(modelItem => item.ProjectID)</td>
        <td>
            @string.Format("{0:dd/MMM}", item.DateRequest)
            @*@Html.DisplayFor(modelItem => item.DateRequest)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserRequest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isAccept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherRequest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BIMerName)
        </td>
        <td>
            @string.Format("{0:dd/MMM}", item.DeadLine)
           @* @Html.DisplayFor(modelItem => item.DeadLine)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C01_Projects.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C02_AppLists.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C06_Status.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C07_Result.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C08_RequestType.TypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
