@model IEnumerable<BIMApplicationForProjects.Models.C02a_AppResults>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết ứng dụng <small class="text-primary">BIM application Details</small></h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.C02_AppLists.Name)
        </dt>
        @foreach (var item in Model)
        {
            <dd>
                @Html.DisplayFor(modelItem => item.Result)
            </dd>
            <dd>
                @Html.DisplayFor(modelItem => item.Description)
            </dd>
            <dd>
                @Html.DisplayFor(modelItem => item.C02_AppLists.Name)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
