@model BIMApplicationForProjects.Models.C03_ProjectAppDetails

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<BIMApplicationForProjects.Models.C06_Status> StatusList = ViewBag.Status as List<BIMApplicationForProjects.Models.C06_Status>;
    List<BIMApplicationForProjects.Models.C01_Projects> Project = ViewBag.Project as List<BIMApplicationForProjects.Models.C01_Projects>;
    List<BIMApplicationForProjects.Models.C02_AppLists> AppList = ViewBag.Applist as List<BIMApplicationForProjects.Models.C02_AppLists>;
    List<BIMApplicationForProjects.Models.C08_RequestType> ResultRequest = ViewBag.ResultRequest as List<BIMApplicationForProjects.Models.C08_RequestType>;
}

<h2>Hủy Yêu cầu | <i class="text-primary">Delete Request</i></h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Chi tiết yêu cầu | <i class="text-danger">Request details</i></h4>
    <hr />
    <div class="form-horizontal">
        <table class="table table-bordered table-condensed">
            <tr>
                @*<th class="bg-primary text-center">Mã yêu cầu</th>*@
                <th class="bg-primary text-center">Dự án</th>
                <th class="bg-primary text-center">Người yêu cầu</th>
                <th class="bg-primary text-center">Tên công việc</th>
                <th class="bg-primary text-center">Ngày yêu cầu</th>
                <th class="bg-primary text-center">Ngày Kết thúc</th>
                <th class="bg-primary text-center">Tình trạng</th>
                <th class="bg-primary text-center">Yêu cầu khác</th>
                <th class="bg-primary text-center">Sản phẩm yêu cầu</th>
                
            </tr>
            <tr>
                @*<td>@Model.RequestID</td>*@
                @foreach (var item in Project)
                {
                    if (item.ProjectID == Model.ProjectID)
                    {
                        <td>@item.ProjectName</td>
                    }
                }
                <td>@Model.UserRequest</td>

                @foreach (var item in AppList)
                {
                    if (item.ID == Model.AppID)
                    {
                        <td><b class="text-primary">@item.Name</b></td>
                    }
                }
                <td>@string.Format("{0:dd/MMM/yyyy}", Model.DateRequest)</td>
                <td>@string.Format("{0:dd/MMM/yyyy}", Model.DeadLine)</td>

                @foreach (var item in StatusList)
                {
                    if (item.ID == Model.StatusID)
                    {
                        <td>@item.Name</td>
                    }
                }
                <td>@Model.OtherRequest</td>

                @foreach (var item in ResultRequest)
                {
                    if (item.ID == Model.ResultID)
                    {
                        <td>@item.TypeName</td>
                    }
                }
                
            </tr>
        </table>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back", "Details", "Projects", new { id = Model.ProjectID }, new { @class = "btn btn-primary" })
        </div>
    }
</div>
