@model BIMApplicationForProjects.Models.C03_ProjectAppDetails

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<BIMApplicationForProjects.Models.C02_AppLists> Apps = ViewBag.AppList as List<BIMApplicationForProjects.Models.C02_AppLists>;
    BIMApplicationForProjects.Models.ApplicationUser userLogin = Session["LoginUser"] as BIMApplicationForProjects.Models.ApplicationUser;

}

<h2>Cập nhật thông tin yêu cầu <i class="text-primary">Edit request</i></h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Chi tiết yêu cầu <i class="text-primary">Request details</i></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    @Html.HiddenFor(model => model.ProjectID)

    @Html.HiddenFor(model => model.AppID)

    <div>
        @foreach (var item in Apps)
        {
            if (item.ID == Model.AppID)
            {
                <h2 class="text-left form-control" style="background-color:#0094ff; color:white">@item.Name | <i class="text-primary" style="color:yellow">@item.Name_EN</i></h2>
            }
        }
        <hr />
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProjectID, "Dự án", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ProjectID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.UserRequest, "Người yêu cầu", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserRequest, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserRequest, "", new { @class = "text-danger" })
        </div>
    </div>

    <div>
        <div class="form-group">
            @Html.LabelFor(model => model.RequestID, "RequestID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RequestID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RequestID, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateRequest, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateRequest, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateRequest, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DeadLine, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DeadLine, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DeadLine, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OtherRequest, "Yêu cầu khác", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OtherRequest, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OtherRequest, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Resource, "Tài liệu tham khảo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Resource, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Resource, "", new { @class = "text-danger" })
        </div>
    </div>
    @* -----------Button-------------- *@
    <div class="form-group form-inline">
        <div class="col-md-offset-2 col-md-2">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
        <div class="col-md-2">
            @Html.ActionLink("<< Back to List", "Index", "Projects", new { id = Model.ProjectID }, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
    </div>

    @* -------------Thông tin phản hồi từ ban BIM------------- *@
    @Html.HiddenFor(model => model.StatusID)
    @Html.HiddenFor(model => model.ResultID)
    
    <div class="form-group form-inline">
            @*<div class="form-group">
                @Html.LabelFor(model => model.StatusID, "StatusID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("StatusID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ResultID, "ResultID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ResultID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ResultID, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group col-lg-4">
                @Html.LabelFor(model => model.BIMerName, "Phụ trách BIM", htmlAttributes: new { @class = "control-label col-md-5" })

                <div class="col-md-7">
                    @if (string.IsNullOrEmpty(Model.BIMerName))
                    {
                        <lable class="form-control">Đang cập nhật</lable>
                    }
                    else
                    {
                        <lable>@Model.BIMerName</lable>
                    }
                </div>
            </div>


        </div>

</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
