@*Danh sách ứng dụng cho từng dự án*@
@{
    var currentProject = ViewBag.Project as BIMApplicationForProjects.Models.C01_Projects;

    var phase = ViewBag.Phase as List<BIMApplicationForProjects.Models.C04_ProjectPhase>;

    var BIMprojects = ViewBag.BIMProjects as List<BIMApplicationForProjects.Models.C03_ProjectAppDetails>;

    var AppList = ViewBag.AppList as List<BIMApplicationForProjects.Models.C02_AppLists>;

    var status = ViewBag.Status as List<BIMApplicationForProjects.Models.C06_Status>;

    var Result = ViewBag.Result as List<BIMApplicationForProjects.Models.C07_Result>;

    var RequestType = ViewBag.RequestType as List<BIMApplicationForProjects.Models.C08_RequestType>;

}
<div class="container-fluid">

    <table class="table table-condensed table-bordered table-hover" style="margin:0;margin-top:10px;">
        @*<tr class="bg-primary">
                <th>@Model.ProjectID - @ProjectName</th>
            </tr>*@
        <tr>
            <th class="bg-info text-center">Tên Ứng dụng</th>
            <th class="bg-info text-center">Người yêu cầu</th>
            <th class="bg-info text-center">Sản phẩm</th>
            <th class="bg-info text-center">Thời gian yêu cầu</th>
            <th class="bg-info text-center">Yêu cầu khác</th>
            <th class="bg-info text-center">Tình trạng</th>
            <th class="bg-info text-center">Chi tiết</th>

            <th class="bg-success text-center">Phụ trách BIM</th>
            <th class="bg-success text-center">Kết quả</th>
        </tr>
        @*</table>*@
        @foreach (BIMApplicationForProjects.Models.C03_ProjectAppDetails Appitem in BIMprojects)
        {
            @*<table class="table table-condensed table-bordered table-hover" style="margin:0">*@
        if (Appitem.ProjectID == currentProject.ProjectID)
        {
                <tr>
                    @*------------------TÊN ỨNG DỤNG--------------------*@
                    @foreach (var appitem in AppList)
                    {
                        if (Appitem.AppID == appitem.ID)
                        {
                            <td class="text-left">
                                <b class="text-danger">
                                    @Html.ActionLink(appitem.Name, "Details", "AppLists", new { id = appitem.ID }, null)
                                </b>
                            </td>
                        }
                    }
                    @*------------------NGƯỜI YÊU CẦU--------------------*@
                    @* Thay thế Cột UserRequest khi Login *@
                    <td class="col-md-1 text-center">@Appitem.UserRequest</td>

                    @*-----------------LOẠI YÊU CẦU---------------------*@
                    @foreach (BIMApplicationForProjects.Models.C08_RequestType Requestitem in RequestType)
                    {
                        if (Appitem.RequestID == Requestitem.ID)
                        {
                            <td class="text-center">@Requestitem.TypeName</td>
                        }
                    }
                    @*-----------------THỜI GIAN-------------------- *@
                    <td class="text-center">@string.Format("{0:dd/MMM}", @Appitem.DateRequest) <b class="text-danger">to</b> @string.Format("{0:dd/MMM/yyyy}", @Appitem.DeadLine)</td>

                    @*----------------YÊU CẦU KHÁC---------------------*@
                    <td>@Appitem.OtherRequest</td>

                    @*----------------TÌNH TRẠNG---------------------*@
                    @foreach (var statusitem in status)
                    {
                        if (Appitem.StatusID == statusitem.ID)
                        {
                            <td class="text-center"><b>@statusitem.Name</b></td>
                        }
                    }

                    @*----------------CHI TIẾT---------------------*@
                    <td class="text-center">
                        @Html.ActionLink("Xem", "Details", "ProjectAppDetails", new { id = Appitem.ID }, null) |
                        @Html.ActionLink("Sửa", "Edit", "ProjectAppDetails", new { id = Appitem.ID }, null) |
                        @Html.ActionLink("Hủy", "Delete", "ProjectAppDetails", new { id = Appitem.ID }, null)
                    </td>

                    @*-------------PHỤ TRÁCH BIM---------------------*@
                    @if (!string.IsNullOrEmpty(Appitem.BIMerName))
                    {
                        <td class="text-center text-info"><b>@Appitem.BIMerName</b></td>
                    }
                    else
                    {
                        <td class="text-center text-info">Chờ cập nhật Nhân sự</td>
                    }

                    @*----------------KẾT QUẢ---------------------*@
                    @foreach (BIMApplicationForProjects.Models.C07_Result ResultItem in Result)
                    {
                        if (@Appitem.ResultID == ResultItem.ID)
                        {
                            <td class="text-center">@ResultItem.Name</td>
                        }
                    }

                </tr>
            }
        }
        </table>

   

    </div>

