@model BIMApplicationForProjects.Models.C01_Projects

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    BIMApplicationForProjects.Models.ApplicationUser userLogin = Session["LoginUser"] as BIMApplicationForProjects.Models.ApplicationUser;
}

<h2 class="text-center">Đăng ký dự án mới <small class="text-info">Register new project</small></h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal table-bordered" style="margin:5px; border-color:#ff0000">
        <h4 style="margin:5px">Vui lòng điền một số thông tin <small class="text-danger">Please fill some infomations</small></h4>
        <hr />
        <h4 class="text-danger"><i>@Session["ThongBao"]</i></h4>
        <h4 class="page-header" style="margin:5px">Thông tin Dự án <small class="text-danger">Project infomations</small></h4>
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group form-inline">
                <div class="col-md-5">
                    <label class="control-label col-md-7">Mã dự án | <small class="text-info">Project ID</small></label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.ProjectID, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập mã dự án" } })
                        @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-7">
                    <label class="control-label col-md-7">Tên dự án | <small class="text-info">Project Name</small></label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập Tên dự án" } })
                        @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="col-md-5">
                    <label class="control-label col-md-7">Chủ trì dự án | <small class="text-info">Project Manager</small></label>
                    <div class="col-md-5">
                        @Html.TextBox(userLogin.UserName,userLogin.UserName, new { @class = "form-control", @readonly = "readonly" })
                        @*@Html.EditorFor(model => model.PMname, new { htmlAttributes = new { @class = "form-control", placeholder = "Chủ trì hoặc CHT dự án" } })*@
                        @Html.ValidationMessageFor(model => model.PMname, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-7">
                    <label class="control-label col-md-7">Giai đoạn | <small class="text-info">Project Phase</small></label>
                    <div class="col-md-5">
                        @Html.DropDownList("Phase", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Phase, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>
        <hr />
        <h4 class="page-header" style="margin:5px">Thông tin Đơn vị thiết kế và Mô hình <small class="text-danger">Design and Model infomations</small></h4>
        <div>
            @* Architech *@
            <div class="form-group form-inline">
                <div class="col-md-6">
                    <label class="control-label col-md-6">Kiến trúc | <small class="text-info">Architech designer</small></label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ARCdesigner, new { htmlAttributes = new { @class = "form-control", placeholder = "Tên công ty" } })
                        @Html.ValidationMessageFor(model => model.ARCdesigner, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="control-label col-md-8">Mô hình | <small class="text-info">Architech Model</small></label>
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ARCmakeModel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ARCmakeModel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            @* Structure *@
            <div class="form-group form-inline">
                <div class="col-md-6">
                    <label class="control-label col-md-6">Kết cấu | <small class="text-info">Structure designer</small></label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.STRdesigner, new { htmlAttributes = new { @class = "form-control", placeholder = "Tên công ty" } })
                        @Html.ValidationMessageFor(model => model.STRdesigner, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="control-label col-md-8">Mô hình | <small class="text-info">Structure Model</small></label>
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.STRmakeModel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.STRmakeModel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            @* MEP *@
            <div class="form-group form-inline">
                <div class="col-md-6">
                    <label class="control-label col-md-6">Cơ Điện | <small class="text-info">MEP designer</small></label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.MEPdesigner, new { htmlAttributes = new { @class = "form-control", placeholder = "Tên công ty" } })
                        @Html.ValidationMessageFor(model => model.STRdesigner, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="control-label col-md-8">Mô hình | <small class="text-info">MEP Model</small></label>
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.MEPmakeModel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MEPmakeModel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            @* Civil *@
            <div class="form-group form-inline">
                <div class="col-md-6">
                    <label class="control-label col-md-6">Hạ tầng | <small class="text-info">Civil designer</small></label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.CIvilDesigner, new { htmlAttributes = new { @class = "form-control", placeholder = "Tên công ty" } })
                        @Html.ValidationMessageFor(model => model.CIvilDesigner, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="control-label col-md-8">Mô hình | <small class="text-info">Civil Model</small></label>
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.CivilMakeModel, new { htmlAttributes = new { @class = "form-control Boolean" } })
                            @Html.ValidationMessageFor(model => model.CivilMakeModel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            @* cảnh quang *@
            <div class="form-group form-inline">
                <div class="col-md-6">
                    <label class="control-label col-md-6">Cảnh quan | <small class="text-info">Landscape designer</small></label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.LandscapeDesigner, new { htmlAttributes = new { @class = "form-control", placeholder = "Tên công ty" } })
                        @Html.ValidationMessageFor(model => model.LandscapeDesigner, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="control-label col-md-8">Mô hình | <small class="text-info">Landscape Model</small></label>
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.LandscapeMakeModel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LandscapeMakeModel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class=" col-md-offset-3 col-sm-2" style="margin-bottom:5px; margin-left:10px">
                    <input type="submit" name="" value="Create project" class="btn btn-danger" />
                </div>
            </div>
            
        </div>

    </div>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
