@model BIMApplicationForProjects.Models.C01_Projects

@{
    ViewBag.Title = "Project Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var phase = ViewBag.Phase as List<BIMApplicationForProjects.Models.C04_ProjectPhase>;

    var BIMprojects = ViewBag.BIMProjects as List<BIMApplicationForProjects.Models.C03_ProjectAppDetails>;
    var AppList = ViewBag.AppList as List<BIMApplicationForProjects.Models.C02_AppLists>;

    var status = ViewBag.Status as List<BIMApplicationForProjects.Models.C06_Status>;

    var Result = ViewBag.Result as List<BIMApplicationForProjects.Models.C07_Result>;

    var RequestType = ViewBag.RequestType as List<BIMApplicationForProjects.Models.C08_RequestType>;
    string thongBao = Session["ThongBao"] as string;
}
<form action="/" method="post">
    <div>
        <h3>Thông tin dự án <small class="text-primary">@ViewBag.Title </small></h3>
        <h1 class="text-center"> <b class="" style="margin:10px"> @Model.ProjectID - @Model.ProjectName </b></h1>
    </div>
    <div>
        <div class="form-group">
            <div class="text-left form-group" style="border-color:red">
                <h4>Chủ trì dự án <small class="text-primary">Project Manager: </small><b>@Model.PMname</b></h4>
                <h4>
                    Giai đoạn dự án <small class="text-info">Project Phase:</small>
                    @foreach (BIMApplicationForProjects.Models.C04_ProjectPhase item in phase)
                    {
                        if (Model.Phase == item.PhaseID)
                        {
                            <b>@item.PhaseName</b>
                        }
                    }
                </h4>
                <h4>Thông tin thiết kế <small class="text-primary">Designers information:</small></h4>
                <table class="table table-condensed table-bordered table-hover">
                    <tr>
                        <th class="text-center" style="background-color:#808080; color:white">Kiến trúc</th>
                        <th class="text-center" style="background-color:#808080; color:white">Kết cấu</th>
                        <th class="text-center" style="background-color:#808080; color:white">Cơ Điện</th>
                        <th class="text-center" style="background-color:#808080; color:white">Hạ tầng</th>
                        <th class="text-center" style="background-color:#808080; color:white">Cảnh quan</th>
                    </tr>
                    <tr>
                        <td class="text-center text-danger"><b>@Model.ARCdesigner</b></td>
                        <td class="text-center text-danger"><b>@Model.STRdesigner</b></td>
                        <td class="text-center text-danger"><b>@Model.MEPdesigner</b></td>
                        <td class="text-center text-danger"><b>@Model.CIvilDesigner</b></td>
                        <td class="text-center text-danger"><b>@Model.LandscapeDesigner</b></td>
                    </tr>
                </table>

            </div>
            <hr />
            @* Table *@
            <div class="form-group" style="border-color:#0026ff">
                <table class="table table-bordered table-condensed">
                    <tr>
                        <th class="text-center bg-primary col-lg-3">Descipline Model</th>
                        <th class="text-center bg-primary col-lg-2">Model?</th>
                        <th class="text-center bg-primary col-lg-6">% using Model for BIM</th>
                        <th class="text-center bg-primary col-lg-1">Details</th>
                    </tr>
                    @* Kiến trúc *@
                    <tr>
                        <td class="">Kiến trúc | <small class="text-primary">Architech Model</small></td>
                        <td class="text-center">
                            @if (@Model.ARCmakeModel.HasValue)
                            {
                                if (Model.ARCmakeModel.Value) //True value
                                {
                                    <b class="text-success">Yes</b>
                                }
                                else //False value
                                {
                                    <b class="text-danger"> No </b>
                                }
                            }
                            else //NotSet value
                            {
                                <i>No information</i>
                            }
                        </td>
                        <td>
                            @if (@Model.ARCmakeModel.HasValue)
                            {
                                if (Model.ARCmakeModel.Value) //True value
                                {
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                                             aria-valuenow=@Model.ARCmodelUsingPercent aria-valuemin="0" aria-valuemax="100" style="width:@Model.ARCmodelUsingPercent%">
                                            <i style="color:black">@Model.ARCmodelUsingPercent %</i>
                                        </div>
                                    </div>
                                }
                                else //False value
                                {
                                    <b class="text-danger"> Not calculate </b>
                                }
                            }
                            else //NotSet value
                            {
                                    <b class="text-danger">0 %</b>
                            }
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("View", "Details", "Projects")
                        </td>
                    </tr>
                    @* Kết cấu *@
                    <tr>
                        <td class="">Kết cấu | <small class="text-primary">Structure Model</small></td>
                        <td class=" text-center">
                            @if (@Model.STRmakeModel.HasValue)
                            {
                                if (Model.STRmakeModel.Value) //True value
                                {
                                    <b class="text-success">Yes</b>
                                }
                                else //False value
                                {
                                    <b class="text-danger"> No </b>
                                }
                            }
                            else //NotSet value
                            {
                                <i>No information</i>
                            }
                        </td>
                        <td>
                            @if (@Model.STRmakeModel.HasValue)
                            {
                                if (Model.STRmakeModel.Value) //True value
                                {
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                                             aria-valuenow=@Model.STRmodelUsingPercent aria-valuemin="0" aria-valuemax="100" style="width:@Model.STRmodelUsingPercent%">
                                            <i style="color:black">@Model.STRmodelUsingPercent %</i>
                                        </div>
                                    </div>
                                }
                                else //False value
                                {
                                    <b class="text-danger"> Not calculate </b>
                                }
                            }
                            else //NotSet value
                            {
                                    <b class="text-danger">0 %</b>
                            }
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("View", "Details", "Projects")
                        </td>
                    </tr>
                    @* MEP *@
                    <tr>
                        <td class="">Cơ điện | <small class="text-primary">MEP Model</small></td>
                        <td class=" text-center">
                            @if (@Model.MEPmakeModel.HasValue)
                            {
                                if (Model.MEPmakeModel.Value) //True value
                                {
                                    <b class="text-success">Yes</b>
                                }
                                else //False value
                                {
                                    <b class="text-danger"> No </b>
                                }
                            }
                            else //NotSet value
                            {
                                <i>No information</i>
                            }
                        </td>
                        <td>
                            @if (@Model.MEPmakeModel.HasValue)
                            {
                                if (Model.MEPmakeModel.Value) //True value
                                {

                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                                             aria-valuenow=@Model.MEPmodelUsingPercent aria-valuemin="0" aria-valuemax="100" style="width:@Model.MEPmodelUsingPercent%">
                                            <i style="color:black">@Model.MEPmodelUsingPercent %</i>
                                        </div>
                                    </div>

                                }
                                else //False value
                                {
                                    <b class="text-danger"> Not calculate </b>
                                }
                            }
                            else //NotSet value
                            {
                                <b class="text-danger">0 %</b>
                            }
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("View", "Details", "Projects")
                        </td>
                    </tr>
                    @* Civil *@
                    <tr>
                        <td class="">Hạ tầng | <small class="text-primary">Civil Model</small></td>
                        <td class=" text-center">
                            @if (@Model.CivilMakeModel.HasValue)
                            {
                                if (Model.CivilMakeModel.Value) //True value
                                {
                                    <b class="text-success">Yes</b>
                                }
                                else //False value
                                {
                                    <b class="text-danger"> No </b>
                                }
                            }
                            else //NotSet value
                            {
                                <i>No information</i>
                            }
                        </td>
                        <td>
                            @if (@Model.CivilMakeModel.HasValue)
                            {
                                if (Model.CivilMakeModel.Value) //True value
                                {

                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                                             aria-valuenow=@Model.CIVILmodelUsingPercent aria-valuemin="0" aria-valuemax="100" style="width:@Model.CIVILmodelUsingPercent%">
                                            <i style="color:black">@Model.CIVILmodelUsingPercent %</i>
                                        </div>
                                    </div>

                                }
                                else //False value
                                {
                                    <b class="text-danger"> Not calculate </b>
                                }
                            }
                            else //NotSet value
                            {
                                <b class="text-danger">0 %</b>
                            }
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("View", "Details", "Projects")
                        </td>
                    </tr>
                    @* Landscape *@
                    <tr>
                        <td class="">Cảnh quan | <small class="text-primary">Landscape Model</small></td>
                        <td class=" text-center">
                            @if (@Model.LandscapeMakeModel.HasValue)
                            {
                                if (Model.LandscapeMakeModel.Value) //True value
                                {
                                    <b class="text-success">Yes</b>
                                }
                                else //False value
                                {
                                    <b class="text-danger"> No </b>
                                }
                            }
                            else //NotSet value
                            {
                                <i>No information</i>
                            }
                        </td>
                        <td>
                            @if (@Model.LandscapeMakeModel.HasValue)
                            {
                                if (Model.LandscapeMakeModel.Value) //True value
                                {

                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                                             aria-valuenow=@Model.LANDSmodelUsingPercent aria-valuemin="0" aria-valuemax="100" style="width:@Model.LANDSmodelUsingPercent%">
                                            <i style="color:black">@Model.LANDSmodelUsingPercent %</i>
                                        </div>
                                    </div>

                                }
                                else //False value
                                {
                                    <b class="text-danger"> Not calculate </b>
                                }
                            }
                            else //NotSet value
                            {
                                <b class="text-danger">0 %</b>
                            }
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("View", "Details", "Projects")
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div>
        <h5 class="text-danger text-center">@thongBao</h5>
        <br />
        <div class="form-inline">
            <a href="@Url.Action("Edit", "Projects", new { id = Model.ProjectID })" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                Cập nhật thông tin dự án
            </a>
            <a href="@Url.Action("CreateID", "ProjectAppDetails", new { id = Model.ProjectID })" class="btn btn-success">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                Thêm ứng dụng
            </a>
        </div>
        <div>
            <h4>Chi tiết các ứng dụng BIM trong dự án | <small class="text-primary">Detail BIM applications in project</small></h4>
        </div>
    </div>
    @* Danh sách ứng dụng theo dự án *@
    <div class="row">
        @Html.Action("_AppListPartialView", "Projects", new { id = Model.ProjectID })
    </div>

    <hr />
    <p class="form-group" style="margin-top:10px">
        @Html.ActionLink("<< Danh sách dự án | Project List", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
    </p>
</form>
<style>
    .img50x50 {
        width: 50px;
        height: 50px
    }
</style>