@model BIMApplicationForProjects.Models.C01_Projects

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var phase = ViewBag.Phase as List<BIMApplicationForProjects.Models.C04_ProjectPhase>;

    var BIMprojects = ViewBag.BIMProjects as List<BIMApplicationForProjects.Models.C03_ProjectAppDetails>;
    var AppList = ViewBag.AppList as List<BIMApplicationForProjects.Models.C02_AppLists>;

    var status = ViewBag.Status as List<BIMApplicationForProjects.Models.C06_Status>;

    var Result = ViewBag.Result as List<BIMApplicationForProjects.Models.C07_Result>;

    var RequestType = ViewBag.RequestType as List<BIMApplicationForProjects.Models.C08_RequestType>;
    string thongBao = Session["ThongBao"] as string;
}

<div>
    <div class="row">
        <h2>Thông tin dự án <small class="text-primary">Project Info: </small></h2>
        <h1 class="text-center"> <b class="" style="margin:10px"> @Model.ProjectID - @Model.ProjectName </b></h1>
        <div class="col-lg-12 form-inline text-left">
            <div class="col-lg-6"><h4>Chủ trì dự án <small class="text-primary">Project Manager: </small>@Model.PMname</h4></div>
            <div class="col-lg-6">
                <h4>
                    Giai đoạn dự án <small class="text-info">Project Phase:</small>
                    @foreach (BIMApplicationForProjects.Models.C04_ProjectPhase item in phase)
                    {
                        if (Model.Phase == item.PhaseID)
                        {
                            <b class="text-warning">@item.PhaseName</b>
                        }
                    }
                </h4>
            </div>
        </div>
        <hr />
        <div class="form-group form-inline">
            <div class="col-lg-9">
                <h4>Thông tin thiết kế <small class="text-primary">Designers information:</small></h4>
            </div>
            <div class="col-lg-3 form-inline">
                <div class="col-lg-8"></div>
                <div class="form-group col-lg-offset-3 col-lg-4 form-inline ">
                    @Html.ActionLink("Cập nhật thông tin dự án", "Edit", new { id = Model.ProjectID }, new { @class = "btn btn-primary text-danger form-control" })
                </div>
            </div>
        </div>
        <div class="container-fluid row">
            <div class="col-lg-6">
                <ul class="form-group">
                    <li class="form-control">Kiến trúc | <small class="text-primary">Architech: </small><b>@Model.ARCdesigner</b></li>
                    <li class="form-control">Kết cấu | <small class="text-primary">Structure: </small><b>@Model.STRdesigner</b></li>
                    <li class="form-control">Cơ Điện | <small class="text-primary">MEP: </small><b>@Model.MEPdesigner</b></li>
                    <li class="form-control">Hạ tầng | <small class="text-primary">Civil: </small><b>@Model.CIvilDesigner</b></li>
                    <li class="form-control">Cảnh quan | <small class="text-primary">Landscape: </small><b>@Model.LandscapeDesigner</b></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="form-group">
                    <li class="form-control">
                        Mô hình Kiến trúc | <small class="text-primary">Architech Model: </small>
                        @if (@Model.ARCmakeModel.HasValue)
                        {
                            if (Model.ARCmakeModel.Value)
                            {
                                <b>Yes</b>
                            }
                            else
                            {
                                <b> No </b>
                            }
                        }
                        else
                        {
                            <b>No information</b>
                        }
                    </li>
                    <li class="form-control">
                        Mô hình Kết cấu | <small class="text-primary">Structure Model: </small>
                        @if (@Model.STRmakeModel.HasValue)
                        {
                            if (Model.STRmakeModel.Value)
                            {
                                <b>Yes</b>
                            }
                            else
                            {
                                <b> No </b>
                            }
                        }
                        else
                        {
                            <b>No information</b>
                        }
                    </li>
                    <li class="form-control">
                        Mô hình Cơ Điện | <small class="text-primary">MEP Model: </small>
                        @if (@Model.MEPmakeModel.HasValue)
                        {
                            if (Model.MEPmakeModel.Value)
                            {
                                <b>Yes</b>
                            }
                            else
                            {
                                <b> No </b>
                            }
                        }
                        else
                        {
                            <b>No information</b>
                        }
                    </li>
                    <li class="form-control">
                        Mô hình Hạ tầng | <small class="text-primary">Civil Model: </small>
                        @if (@Model.CivilMakeModel.HasValue)
                        {
                            if (Model.CivilMakeModel.Value)
                            {
                                <b>Yes</b>
                            }
                            else
                            {
                                <b> No </b>
                            }
                        }
                        else
                        {
                            <b>No information</b>
                        }
                    </li>
                    <li class="form-control">
                        Mô hình Cảnh Quan | <small class="text-primary">Landscape Model: </small>
                        @if (@Model.LandscapeMakeModel.HasValue)
                        {
                            if (Model.LandscapeMakeModel.Value)
                            {
                                <b>Yes</b>
                            }
                            else
                            {
                                <b> No </b>
                            }
                        }
                        else
                        {
                            <b>No information</b>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h5 class="text-danger">@thongBao</h5>
        <div class="col-lg-12 form-inline form-group">
            <div class="col-lg-8">
                <h4>Chi tiết các ứng dụng BIM trong dự án | <small class="text-primary">Detail BIM applications in project</small></h4>
            </div>
            <div class="col-lg-4 form-inline form-group">
                @*<div class="form-group col-lg-6">
                    @Html.ActionLink("Cập nhật dự án", "Edit", new { id = Model.ProjectID }, new { @class = "btn btn-primary text-danger form-control" })
                </div>*@
                <div class="col-lg-offset-8 form-group col-lg-2">
                    @Html.ActionLink("Thêm ứng dụng", "CreateID", "ProjectAppDetails", new { id = @Model.ProjectID }, new { @class = "btn btn-primary text-danger form-control" })

                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group container">
    @Html.Action("_AppListPartialView", "Projects", new { id = Model.ProjectID })
</div>

<p>
    @Html.ActionLink("<< Danh sách dự án | Project List", "Index",null,htmlAttributes: new {@class = "btn btn-primary" })
</p>
<style>
    .img50x50 {
        width: 50px;
        height: 50px
    }
</style>