@model BIMApplicationForProjects.Models.C01_Projects

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Cập nhật thông tin dự án <small class="text-primary">Edit Project information</small></h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @* New Form *@

    <div class="form-horizontal table-bordered" style="margin:5px; border-color:#ff0000">
        <h4 style="margin:5px">Vui lòng điền một số thông tin <small class="text-danger">Please fill some infomations</small></h4>
        <hr />
        <h4 class="page-header" style="margin:5px">Thông tin Dự án <small class="text-danger">Project infomations</small></h4>
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group form-inline">
                <div class="col-md-5">
                    <label class="control-label col-md-7">Mã dự án | <small class="text-info">Project ID</small></label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.ProjectID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-7">
                    <label class="control-label col-md-7">Tên dự án | <small class="text-info">Project Name</small></label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="col-md-5">
                    <label class="control-label col-md-7">Chủ trì dự án | <small class="text-info">Project Manager</small></label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.PMname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PMname, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-7">
                    <label class="control-label col-md-7">Giai đoạn | <small class="text-info">Project Phase</small></label>
                    <div class="col-md-5">
                        @Html.DropDownList("Phase", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Phase, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>
        </div>
        <hr />
        <h4 class="page-header" style="margin:5px">Thông tin Đơn vị thiết kế và Mô hình <small class="text-danger">Design and Model infomations</small></h4>
        <div>
            <div>
                <table class="table table-hover">
                    <tr>
                        <th class="bg-primary text-center">Bộ môn | Descipline</th>
                        <th class="bg-primary text-center">Tên công ty | Company Name</th>
                        <th class="bg-primary text-center">Model ?</th>
                        <th class="bg-primary col-sm-2 text-center">% using Model for BIM</th>
                    </tr>
                    @* Architech *@
                    <tr>
                        <td class="text-left"><b>Kiến trúc | Architech</b></td>
                        <td>
                            @Html.EditorFor(model => model.ARCdesigner, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ARCdesigner, "", new { @class = "text-danger" })
                        </td>
                        <td class="checkbox">
                            @Html.EditorFor(model => model.ARCmakeModel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ARCmakeModel, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            <b>@Html.EditorFor(model => model.ARCmodelUsingPercent, new { htmlAttributes = new { @class = "form-control text-center text-danger", @readonly = "readonly" } })</b>
                        </td>
                    </tr>
                    @* Structure *@
                    <tr>
                        <td class="text-left"><b>Kết cấu | Structure</b></td>
                        <td>
                            @Html.EditorFor(model => model.STRdesigner, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.STRdesigner, "", new { @class = "text-danger" })
                        </td>
                        <td class="checkbox">
                            @Html.EditorFor(model => model.STRmakeModel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.STRmakeModel, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            <b>@Html.EditorFor(model => model.STRmodelUsingPercent, new { htmlAttributes = new { @class = "form-control text-center text-danger", @readonly = "readonly" } })</b>
                        </td>
                    </tr>
                    @* MEP *@
                    <tr>
                        <td class="text-left"><b>Cơ Điện | MEP</b></td>
                        <td>
                            @Html.EditorFor(model => model.MEPdesigner, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MEPdesigner, "", new { @class = "text-danger" })
                        </td>
                        <td class="checkbox">
                            @Html.EditorFor(model => model.MEPmakeModel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MEPmakeModel, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            <b>@Html.EditorFor(model => model.MEPmodelUsingPercent, new { htmlAttributes = new { @class = "form-control text-center text-danger", @readonly = "readonly" } })</b>
                        </td>
                    </tr>
                    @* Civil *@
                    <tr>
                        <td class="text-left"><b>Hạ tầng | Civil</b></td>
                        <td>
                            @Html.EditorFor(model => model.CIvilDesigner, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CIvilDesigner, "", new { @class = "text-danger" })
                        </td>
                        <td class="checkbox">
                            @Html.EditorFor(model => model.CivilMakeModel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CivilMakeModel, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            <b>@Html.EditorFor(model => model.CIVILmodelUsingPercent, new { htmlAttributes = new { @class = "form-control text-center text-danger", @readonly = "readonly" } })</b>
                        </td>
                    </tr>
                    @* cảnh quang *@
                    <tr>
                        <td class="text-left"><b>Cảnh quan | Landscape</b></td>
                        <td>
                            @Html.EditorFor(model => model.LandscapeDesigner, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LandscapeDesigner, "", new { @class = "text-danger" })
                        </td>
                        <td class="checkbox">
                            @Html.EditorFor(model => model.LandscapeMakeModel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LandscapeMakeModel, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            <b>@Html.EditorFor(model => model.LANDSmodelUsingPercent, new { htmlAttributes = new { @class = "form-control text-center text-danger", @readonly = "readonly" } })</b>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="form-group">
                <div class=" col-md-offset-3 col-sm-2" style="margin-bottom:5px; margin-left:10px">
                    <input type="submit" name="" value="Lưu thông tin | Save" class="btn btn-success" />
                </div>
            </div>
        </div>

    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
