@model IEnumerable<BIMApplicationForProjects.Models.C01_Projects>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var phase = ViewBag.Phase as List<BIMApplicationForProjects.Models.C04_ProjectPhase>;

    var BIMprojects = ViewBag.BIMProjects as List<BIMApplicationForProjects.Models.C03_ProjectAppDetails>;
    var AppList = ViewBag.AppList as List<BIMApplicationForProjects.Models.C02_AppLists>;

    var status = ViewBag.Status as List<BIMApplicationForProjects.Models.C06_Status>;
    string error = ViewBag.Error;
}

<h2>Danh sách dự án <small class="text-info">Project List</small></h2>

<p class="btn btn-warning" style="margin-bottom:10px">
    @Html.ActionLink("Đăng ký dự án", "Create")
</p>
<p class="btn btn-info" style="margin-bottom:10px; margin-left:10px">
    @Html.ActionLink("Thêm ứng dụng", "Create", "ProjectAppDetails")
</p>
<h3>@ViewBag.Error</h3>
@*Danh sách dự án*@
<div class="container-fluid">
    <table class="table table-condensed table-bordered table-hover">
        <tr>
            <th class="bg-primary text-center col-lg-1">#</th>
            <th class="bg-primary text-center col-lg-3">Tên dự án - Project Name</th>
            <th class="bg-primary text-center col-lg-1">Giai đoạn - Project Phase</th>
            <th class="bg-primary text-center col-lg-1">Ứng dụng - BIM</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-danger text-uppercase text-center">
                    @Html.ActionLink(item.ProjectID, "Details", new { id = item.ProjectID }, new { @class = "text-danger" })
                </td>

                <td class="text-danger text-uppercase">
                    @Html.ActionLink(item.ProjectName, "Details", new { id = item.ProjectID }, new { @class = "text-danger" })
                </td>
                @foreach (var _ID in phase)
                {
                    if (_ID.PhaseID == item.Phase)
                    {
                        <td class="text-danger">@_ID.PhaseName</td>
                    }
                }
                <td class="text-info text-center">
                    @Html.ActionLink("Thêm ứng dụng", "CreateID", "ProjectAppDetails", new {id = item.ProjectID }, new { @class = "text-danger" })
                </td>
            </tr>
        }

    </table>
</div>

@*Danh sách ứng dụng cho từng dự án*@
<div class="container">
    @foreach (BIMApplicationForProjects.Models.C01_Projects item in Model)
    {
        <table class="table table-condensed table-bordered table-hover" style="margin:0;margin-top:10px;">
            <tr class="bg-primary">
                <th>@item.ProjectID - @item.ProjectName</th>
            </tr>
            <tr>
                <th class="col-lg-2 bg-info text-center">Tên Ứng dụng</th>
                <th class="col-lg-1 bg-info text-center">Yêu cầu</th>
                <th class="col-lg-2 bg-info text-center">Thời gian yêu cầu</th>
                @*<th class="col-lg-2 bg-info text-center">Ngày yêu cầu sản phẩm</th>*@

                <th class="col-lg-2 bg-info text-center">Phụ trách BIM</th>
                <th class="col-lg-2 bg-info text-center">Yêu cầu khác</th>
                <th class="col-lg-1 bg-info text-center">Tình trạng</th>
                <th class="col-lg-2 bg-info text-center">Chi tiết</th>
            </tr>
        </table>
        foreach (BIMApplicationForProjects.Models.C03_ProjectAppDetails Appitem in BIMprojects)
        {
            <table class="table table-condensed table-bordered table-hover" style="margin:0">
                @if (Appitem.ProjectID == item.ProjectID)
                {
                <tr>
                    @foreach (var appitem in AppList)
                    {
                        if (Appitem.AppID == appitem.ID)
                        {
                            <td class="col-sm-2"><b class="text-danger">@appitem.Name</b></td>
                        }
                    }
                    <td class="col-lg-1 text-center">@Appitem.UserRequest</td>
                    <td class="col-lg-2 text-center">@string.Format("{0:dd/MMM}", @Appitem.DateRequest) to @string.Format("{0:dd/MMM/yyyy}", @Appitem.DeadLine)</td>
                    @*<td class="col-lg-2 text-center"></td>*@


                    @if (!string.IsNullOrEmpty(Appitem.BIMerName))
                    {
                        <td class="col-lg-2 text-center text-info"><b>@Appitem.BIMerName</b></td>
                    }
                    else
                    {
                        <td class="col-lg-2 text-center text-info">Đang cập nhật</td>
                    }
                    <td class="col-lg-2">@Appitem.OtherRequest</td>

                    @foreach (var statusitem in status)
                    {
                        if (Appitem.StatusID == statusitem.ID)
                        {
                            <td class="col-lg-1">@statusitem.Name</td>
                        }
                    }
                    <td class="col-lg-2 text-center">Result</td>
                </tr>

                }
            </table>
        }
    }
</div>
