@model IEnumerable<BIMApplicationForProjects.Models.C01_Projects>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var phase = ViewBag.Phase as List<BIMApplicationForProjects.Models.C04_ProjectPhase>;

    var BIMprojects = ViewBag.BIMProjects as List<BIMApplicationForProjects.Models.C03_ProjectAppDetails>;
    var AppList = ViewBag.AppList as List<BIMApplicationForProjects.Models.C02_AppLists>;

    var status = ViewBag.Status as List<BIMApplicationForProjects.Models.C06_Status>;

    var Result = ViewBag.Result as List<BIMApplicationForProjects.Models.C07_Result>;

    var RequestType = ViewBag.RequestType as List<BIMApplicationForProjects.Models.C08_RequestType>;

    string ThongBao = Session["ThongBao"] as string;
}

<h2>Danh sách dự án <small class="text-info">Project List</small></h2>

<p class="btn btn-warning" style="margin-bottom:10px">
    @Html.ActionLink("Đăng ký dự án", "Create")
</p>
@* NÚT THÊM ỨNG DỤNG CHUNG *@
@*<p class="btn btn-info" style="margin-bottom:10px; margin-left:10px">
        @Html.ActionLink("Thêm ứng dụng", "Create", "ProjectAppDetails")
    </p>*@

<h3>@ViewBag.Error</h3>
<h5 class="text-danger">@ThongBao</h5>
@*Danh sách dự án*@

<div class="container-fluid table table-bordered" style="margin:3px;border-color:blue">
    <h3>Project List</h3>
    <table class="table table-condensed table-bordered table-hover">
        <tr>
            <th class="bg-primary text-center col-md-1">#</th>
            <th class="bg-primary text-center col-md-3">Tên dự án - Project Name</th>
            <th class="bg-primary text-center col-md-2">Chủ trì dự án - Project Manager</th>
            <th class="bg-primary text-center col-md-2">Giai đoạn - Project Phase</th>
            <th class="bg-primary text-center col-md-1">Ứng dụng - BIM</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-danger text-uppercase text-center">
                    @Html.ActionLink(item.ProjectID, "Details", new { id = item.ProjectID }, new { @class = "text-danger" })
                </td>

                <td class="text-danger text-uppercase">
                    @Html.ActionLink(item.ProjectName, "Details", new { id = item.ProjectID }, new { @class = "text-danger" })
                </td>
                <td><b>@item.PMname</b></td>
                @foreach (var _ID in phase)
                {
                    if (_ID.PhaseID == item.Phase)
                    {
                        <td>@_ID.PhaseName</td>
                    }
                }
                <td class="text-info text-center">
                    @Html.ActionLink("Thêm ứng dụng", "CreateID", "ProjectAppDetails", new { id = item.ProjectID }, new { @class = "text-info" })
                </td>
            </tr>
        }
    </table>
</div>

@*Danh sách ứng dụng cho từng dự án*@
<div class="container-fluid table table-bordered" style="margin:3px; border-color:#ff0000">
    <div class="">
        <h3>Application list</h3>
        @foreach (BIMApplicationForProjects.Models.C01_Projects item in Model)
        {
            <table class="table table-condensed table-bordered" style="margin:0;margin-top:10px;">
                <tr class="bg-primary text-danger">
                    <th>
                        @Html.ActionLink(item.ProjectID + "-" + item.ProjectName, "Details", new { id = item.ProjectID }, new { @class = "", @style = "color:white" })
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th class="col-md-2 bg-info text-center">Tên Ứng dụng</th>
                    <th class="col-md-1 bg-info text-center">Sản phẩm</th>
                    <th class="col-md-2 bg-info text-center">Thời gian yêu cầu</th>
                    <th class="col-md-2 bg-info text-center">Yêu cầu khác</th>
                    <th class="col-md-1 bg-info text-center">Tình trạng</th>
                    @*<th class="col-md-2 bg-info text-center">Chi tiết</th>*@
                    <th class="col-md-1 bg-success text-center">Phụ trách BIM</th>
                    <th class="col-md-1 bg-success text-center">Kết quả</th>

                </tr>
            </table>
            foreach (BIMApplicationForProjects.Models.C03_ProjectAppDetails Appitem in BIMprojects)
            {
                <table class="table table-bordered table-hover form-group table-responsive" style="margin:0">
                    @if (Appitem.ProjectID == item.ProjectID)
                    {                        
                        <tr>
                            @*------------------TÊN ỨNG DỤNG--------------------*@
                            @foreach (var appitem in AppList)
                            {
                                if (Appitem.AppID == appitem.ID)
                                {
                                    <td class="col-md-2">
                                        <b class="text-danger">
                                            @Html.ActionLink(appitem.Name, "Details", "ProjectAppDetails", new { id = Appitem.ID }, null)
                                        </b>
                                    </td>
                                    @*<td class="col-md-2"><b class="text-primary"> @appitem.Name</b></td>*@
                                }
                            }
                            @* Thay thế Cột UserRequest khi Login *@
                            @*<td class="col-md-1 text-center">@Appitem.UserRequest</td>*@

                            @*-----------------LOẠI YÊU CẦU - SẢN PHẨM---------------------*@
                            @foreach (BIMApplicationForProjects.Models.C08_RequestType Requestitem in RequestType)
                            {
                                if (Appitem.RequestID == Requestitem.ID)
                                {
                                    <td class="col-md-1 text-center">@Requestitem.TypeName</td>
                                }
                            }
                            @*-----------------THỜI GIAN-------------------- *@
                            <td class="col-md-2 text-center">@string.Format("{0:dd/MMM}", @Appitem.DateRequest) <b class="text-danger">to</b> @string.Format("{0:dd/MMM/yyyy}", @Appitem.DeadLine)</td>

                            @*----------------YÊU CẦU KHÁC---------------------*@
                            <td class="col-md-2">@Appitem.OtherRequest</td>

                            @*----------------TÌNH TRẠNG---------------------*@
                            @foreach (var statusitem in status)
                            {
                                if (Appitem.StatusID == statusitem.ID)
                                {
                                    <td class="col-md-1">@statusitem.Name</td>
                                }
                            }

                            @*----------------CHI TIẾT---------------------*@
                            @*<td class="col-md-2 text-center">
                                    @Html.ActionLink("Xem", "Details", "Projects", new { id = item.ProjectID }, null) |
                                    @Html.ActionLink("Sửa", "Edit", "ProjectAppDetails", new { id = Appitem.ID }, null) |
                                    @Html.ActionLink("Hủy", "Delete", "ProjectAppDetails", new { id = Appitem.ID }, null)
                                </td>*@

                            @*-------------PHỤ TRÁCH BIM---------------------*@
                            @if (!string.IsNullOrEmpty(Appitem.BIMerName))
                            {
                                <td class="col-md-1 text-center text-info"><b>@Appitem.BIMerName</b></td>
                            }
                            else
                            {
                                <td class="col-md-1 text-center text-info">Đang cập nhật</td>
                            }

                            @*----------------KẾT QUẢ---------------------*@
                            @foreach (BIMApplicationForProjects.Models.C07_Result ResultItem in Result)
                            {
                                if (@Appitem.ResultID == ResultItem.ID)
                                {
                                    <td class="col-md-1 text-center form-group">@ResultItem.Name</td>
                                }
                            }
                        </tr>

                    }
                </table>

            }
        }
    </div>

</div>